html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 25;
  font-weight: 700;
  background: linear-gradient(#1e1f1e, #252236);
  color: #48D462;
}

#terminal {
  height: 100%;
  width: 100%;
}

#render {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 500px;
  height: 300px;
  z-index: 1000;
  border: solid white;
}

#render.fullscreen {
    top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}

#NIRD{
  transition: transform 0.6s ease, opacity 0.6s ease;
}

#NIRD:hover{
  transform: translateY(-10px) scale(1.5);
  opacity: 09;
}

.animP{
  opacity:0;
  transform: translateY(10px);
  animation: fadeslide 07s ease-out forwards;
  will-change: transform, opacity;
}

@keyframes fadeslide {
  from{
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}