html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
}

#terminal {
  height: 100%;
  width: 100%;
}

#render {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 500px;
  height: 300px;
  z-index: 1000;
  border: solid white;
}

#render.fullscreen {
    top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
}